body {
  background-color: antiquewhite;
  overflow-x: hidden;
  height: 100vh;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html {
  scroll-padding-top:200px;
}


/*=======================================================*/
.navbar {
  position: fixed;
  width: 100%;
  padding: 5px;
  z-index: 1;
  display: flex;
  justify-content: space-evenly;
  align-self: center;
  align-items: center;
  padding: 7px;
}

.navbar a {
  display:inline-block;
  padding: 10px 20px;

  border-radius: 15px;;
  background-color:#61dafb;
  transition: background-color 0.3s ease-in-out;
}

.navbar a:hover {
  background-color: #48e285; /* replace with your preferred color */
}

/* Extra small devices*/
@media (max-width: 400px) {
  .navbar{
    max-width: 350px;
  }
}

/*Welcome section =====================================================*/
.welcome-section {
  padding-top: 90px;
  display: inline-flex;
  justify-content: space-evenly;
  align-content: center;
  margin: 10px;
}

.my-info{
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  margin-right: 10px;;
}

.about-me{
  max-width: 500px;
}

.headshot {
  width: 500px;
  height: auto;
  border-radius: 50%;

}

.my-links{
  display: flex;
  justify-content: space-evenly;
  align-content: center;
}

.link-logo{
  width:100px;
  height: auto;
}

@media (max-width: 400px) {
  .title {
    font-size: 25px;
  }
  .about-me{
    font-size: 15px;
  }
}
/* Extra small devices*/
@media (max-width: 599px) {
  .headshot {
    width: 200px;
    height: auto;
    border-radius: 50%;
  }
  .link-logo{
    width:50px;
    height: auto;
  }
}
/* Small devices*/
@media (min-width: 600px) {
  .headshot {
    width: 300px;
    height: auto;
    border-radius: 50%;
  }
  .about-me{
    font-size:20px;
  }
  .link-logo{
    width:80px;
    height: auto;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) {
  .title {
    font-size: 40px;
  }
  .headshot {
    width: 350px;
    height: auto;
    border-radius: 50%;
  }
  .about-me{
    font-size:20px;
    max-width: 500px;;
  }
  .link-logo{
    width:100px;
    height: auto;
  }
}
/*Large devices*/
@media (min-width: 1500px) {
  .title {
    font-size: 50px;
  }
  .headshot {
    width: 400px;
    height: auto;
    border-radius: 50%;
  }
  .about-me{
    font-size:30px;
    max-width: 650px;;
  }
  .link-logo{
    width:100px;
    height: auto;
  }
}

/*project section =====================================================*/
.project-section {
  padding-top: 50px;
}

.project-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.project-gallery a{
  padding: 10px;
  text-decoration: none;
  color: inherit;
}

.project {
  display: flex;
  flex-direction: row;
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
  width: 500px;
  height: 300px;
}

.project:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.project-techs{
  font-size: 50px;
}

.project-info {
  flex: 1;
}

.project-image {
  flex: 1;
  padding:5px;
  width: 200px;
  align-items: center;
}

.project img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 400px) {
  .project {
    width: 300px;
    height: 260px;
  }
  .project-title{
    font-size: 20px;
  }
  .project-description{
    font-size: 15px;
  }
  .project-techs{
    font-size: 35px;
  }
}
/* Extra small devices*/
@media (max-width: 599px) {
  .project {
    width: 350px;
    height: 260px;
  }
  .project-title{
    font-size: 21px;
  }
  .project-description{
    font-size: 16px;
  }
  .project-techs{
    font-size: 40px;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) {
  .projects-header{
    font-size: 40px;
  }
  .project {
    width: 500px;
    height: 350px;
  }
  .project-title{
    font-size: 25px;
  }
  .project-description{
    font-size: 23px;
  }
  .project-techs{
    font-size: 50px;
  }

}
/* Large  devices*/
@media (min-width: 1500px) {
  .projects-header{
    font-size: 60px;
  }
  .project {
    width: 600px;
    height: 400px;
  }
  .project-title{
    font-size: 35px;
  }
  .project-description{
    font-size: 25px;
  }
  .project-techs{
    font-size: 60px;
  }
}

/*experience section =====================================================*/
/* General styles */
.experience-section {
  text-align: center;
  display: block;
  justify-content: center;
  padding: 50px;
}

.exp-gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.exp {
  width: 80%;
  margin: 20px 0;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  background-color: white;
}

.exp-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.exp-title {
  flex: 1;
}

.exp-image {
  width: 80px;
  height: 80px;
  border-radius: 50%; 
  object-fit: cover; 
}

.exp-description {
  text-align: left;
}

@media (max-width: 400px) {
  .exp {
    width: 300px;

  }
  .exp-image355{
    width: 150px;
    height: auto;
  }
}
/* Extra small devices*/
@media (max-width: 599px) {
  .exp-image355{
    width: 150px;
    height: auto;
  }
}
/* Small devices*/
@media (min-width: 600px) {

}
/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) {


}
/* Large  devices*/
@media (min-width: 1500px) {

}

/*more section =====================================================*/
.more-section {
  padding-top: 50px;
}